body {
    padding: 30pt;
}
h1 {
    text-align: right;
    font-size: 14pt;
}
h2 {
    margin: 0;
}
h3 {
    margin: 0;
}
.bold-text{
font-weight: bold;
text-decoration: underline;
font-size: 14pt;
}
.no-bullets {
    list-style-type: none;
}
.image-punctions{
list-style-image: url(images/icons8-tick.svg);
margin-left: 35px
}
hr {
    margin: 0;
}
ul {
    font-size: 13pt;
}
